.navbar{
  background: #fff;
  box-shadow: 0 2px 3px #ccc;
  line-height: 1.2rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  box-sizing: border-box;
  line-height: 60px;
}
.navbar .container{
  max-width: 1000px;
}
.navbar a{
  padding: 0 10px;
  display: inline-block;
  background-color: #fff;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active{
  background: #f0f0f0
}
.navbar ul.right{
  justify-content: left;
}
.navbar + div {
  padding-top: 2rem;
  margin-top: 60px;
}